
.background{
    max-width: 100%;
}

.title{
    font-family: $acm-font;
    font-weight: bold;
    font-size: 96px;
    .title-ucsc{
        color: $acm-white;
    }
    .title-acm{
        color: $acm-blue;
    }
}




