/*************************************
 *     Base styles and variables     *
 ************************************/

 //main color palette
$acm-pink: #EA526F;
$acm-black: #070600;
$acm-white: #F7F7FF;
$acm-blue: #0093D0;
$acm-yellow: #FFBB43;

//accent color palette
$acm-gray: #ECECF6;
$acm-green: #8AF688;

$acm-font: 'Oswald';

.app-container {
  display: flex;
  flex-direction: column;
}

@import 'components/Home/Banner/style';
@import 'components/NavBar/style';

